<!DOCTYPE html>
<html>
    <head>
        {%block name="css"%}{%/block%}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {%block name="title"%}{%/block%}
    </head>
    
    {%block name="body"%}
    <body>
        <iframe src="./html/footer.html"></iframe>
        <img src="./pictures/1552792416294.jpg">
        <form type="text" id="xxx"></form>
        <button action="login.php"> 提交</button>
    </body>
    {%/block%}

    {%block name="javascript"%}
    {%/block%}
</html>
