{%extends file="./tpl/layout.html"%} 
{%block name="css"%}
    <link href="../css/login.css" rel='stylesheet' type='text/css' media="all">
    <link href="../css/link.css" rel='stylesheet' type='text/css' media="all">
{%/block%}
    
{%block name="title"%}<title>用户登录界面</title>{%/block%}
    
{%block name="javascript"%}
    <script type="text/javascript">

        addEventListener("load", function () {
            setTimeout(hideURLbar, 0); 
        }, false); 
        
        function hideURLbar() { 
                window.scrollTo(0, 1); 
            }
    </script>
{%/block%}

{%block name="body"%}
<body>
        <div class="mid-class">
           <div class="art-right-w3ls">
              <h2 style="color: rgba(31, 155, 212, 0.911)">用户登录</h2>
              <form action="php/users/loginAuth.php" method="post">
                 <div class="main">
                    <div class="form-left-to-w3l">
                       <input type="text" name="username" placeholder="用户名" required="">
                    </div>
                    <div class="form-left-to-w3l ">
                       <input type="password" name="password" placeholder="密码" required="">
                       <div class="clear"></div>
                    </div>
                 </div>
                 <div class="left-side-forget">
                    <input type="checkbox" class="checked">
                    <span class="remenber-me">记住密码 </span>
                 </div>
                 <div class="right-side-forget">
                    <a class="login" href="#" class="for">忘记密码?</a>
                 </div>
                 <div class="clear"></div>
                 <div class="btnn">
                    <button type="submit">登录</button>
                 </div>
              </form>
              <div class="w3layouts_more-buttn">
                 <h3>还没有账号？
                    <a class="login" href="register.php">注册
                    </a>
                 </h3>
              </div>
           </div>
           <div class="art-left-w3ls">
              <h1 class="header-w3ls">
                Scientific conferences & activities
              </h1>
           </div>
        </div>
        <footer class="bottem-wthree-footer">
           <p>Copyright © 2019. Chilly & Tian & Fiona. All rights reserved.</p>
        </footer>
      </body>
{%/block%}