{%extends file="./tpl/layout.html"%} 
{%block name="css" append%}
    <link href="/css/login.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/link.css" rel="stylesheet" type="text/css" media="all">

	<link rel="stylesheet" href="/html/assets/css/bootstrap.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="/html/assets/css/lib/datatable/dataTables.bootstrap.min.css" type="text/css" media="all">

    <link rel="stylesheet" href="/html/assets/css/style.css" type="text/css" media="all">
{%/block%}
{%block name="title"%}<title>活动管理</title>{%/block%}



{%block name="body" append%}
<body>
        <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">活动管理</strong>
                                {%if $role === 1%}
                                    <span style="font-family:'Times New Roman';">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</span>
                                    <a href="/php/manageActivityManager.php">管理员入口</a>
                                {%/if%}
                            </div>
                            <div class="card-body">
                                <table id="bootstrap-data-table" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>活动ID</th>
                                            <th>活动名称</th>
                                            <th>活动简称</th>
                                            <th>开始时间</th>
											<th>结束时间</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    {%strip%}
									<tbody>
										{%foreach $list as $activity%}
                                        <tr>
                                            <td>{%$activity.id%}</td>
                                            <td>{%$activity.name%}</td>
                                            <td>{%$activity.abbr%}</td>
                                            <td>{%$activity.begin_date%}</td>
                                            <td>{%$activity.end_date%}</td>
                                            <td>
                                                <a href="javascript:check_activity_information({%$activity.id%})">查看</a>
                                                <span style="font-family:'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                <a href="javascript:delete_record({%$activity.id%}, {%$uid%})">退出</a>
                                                <span style="font-family:'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                {%if $activity.role == 1%}
                                                <a href="javascript:delete_activity({%$activity.id%})">删除</a>
                                                {%/if%}
                                            </td>
										</tr>
                                        {%/foreach%}
									</tbody>
                                    {%/strip%}
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
        </div><!-- .content -->
</body>
{%/block%}

{%block name="javascript"%}
    <script type="text/javascript">
        function check_activity_information(activity_id){
            window.location.href = "/php/activities/viewActivity.php?activity_id=" + activity_id;
        }

        function delete_activity(activity_id) {
            if (confirm("确认删除？")) {
                window.location.href = "/php/activities/deleteActivity.php?activity_id=" + activity_id;
            }
        }

        function delete_record(activity_id, user_id) {
            if (confirm("确认退出？")) {
                window.location.href = "/php/user_activity/deleteRecord.php?activity_id=" + activity_id + "&user_id=" + user_id; 
            }
        }

        function admin_manage_activity(activity_id){
            //window.location.href = "/php/activities/viewActivity.php?activity_id=" + activity_id;
        }
    </script>

    <script src="/html/assets/js/lib/data-table/datatables.min.js"></script>
    <script src="/html/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
    <script src="/html/assets/js/init/datatables-init.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
          $('#bootstrap-data-table-export').DataTable();
      } );
    </script>
{%/block%}
