{%extends file="./tpl/layout.html"%} 
{%block name="css"%}
    <link href="/css/login.css" rel="stylesheet" type="text/css" />
    <link href="/css/link.css" rel="stylesheet" type="text/css" />
{%/block%}
    
{%block name="title"%}<title>用户注册界面</title>{%/block%}
    
{%block name="javascript"%}
    <script type="text/javascript" src="/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        /**
        //窗体改变大小时触发事件
        window.onresize = setViewSize;
        var marginLeft=0;
        var marginTop=0;
        //设置画布大小，登录页面显示在屏幕最中间
        function setViewSize() {
            //计算屏幕大小
            var w=window.innerWidth
            || document.documentElement.clientWidth
            || document.body.clientWidth;
            var h=window.innerHeight
            || document.documentElement.clientHeight
            || document.body.clientHeight;
            //设置登陆div的位置
            marginLeft = (w-468)/2 + "px";
            marginTop = (h-262)/2 + "px";
            var form = document.getElementById("registerFormMain");
            form.style.marginLeft=marginLeft;
            form.style.marginTop=marginTop;
        }
        
        //默认聚焦在用户名输入框上
        function focusOnUsername() {
            //调整画布大小和登陆框位置
            setViewSize();
            //默认聚焦在输入框上
            if (document.registerForm) {
                var usernameInput = document.registerForm.username;
                if (usernameInput) {
                    usernameInput.focus();
                }
            }
            return;
        }
        **/

        var statusUsername = 0;

        //检查用户输入
        function checkRegister(){
            if(checkUsername() && checkPassword()){
                return true;
            }		  
            return false;
        }
        //检查登录用户名
        function checkUsername(){
            var username = document.getElementById("userid");
            if (username.value.length == 0) {
                alert("请输入用户名");
                return false;
            }
            if (statusUsername){
                return true;
            } else {
                return false;
            }
        }
        //检查登录密码
        function checkPassword(){
            var password = document.getElementById("password");
            var passwdcf = document.getElementById("passwordcf");
            if (password.value.length < 6) {
                alert("密码长度至少6位");
                return false;
            }
            if (password.value != passwdcf.value) {
                alert("密码与确认密码不一致");
                return false;
            }
            return true;
        }

        
        $(document).ready(function() {
            $("#userid").change(function() {
                $(this).css("background-color","#FFFFCC");
                var username = document.getElementById("userid").value;
                //alert("hi");
                $.get("./ajaxRequest/checkUsernameUsed.php", {username: username}, function(msg) {
                    msg = $.trim(msg);
                    document.getElementById("username_alert").innerHTML = msg;
                    if (msg !== "") {
                        statusUsername = 0;
                    } else {
                        statusUsername = 1;
                    }
                });
            });

            $("#password").change(function() {
                var password = document.getElementById("password");
                var pw_alert = document.getElementById("password_alert");
                if (password.value.length < 6) {
                    pw_alert.innerHTML = "密码长度至少6位";
                    statusPw = 0;
                }
                else {
                    pw_alert.innerHTML = "";
                    statusPw = 1;
                }
            });

            $('#passwordcf').change(function() {
                var passwordcf = document.getElementById("passwordcf");
                var password = document.getElementById("password");
                var pwcf_alert = document.getElementById("passwordcf_alert");
                if (password.value != passwordcf.value) {
                    pwcf_alert.innerHTML = "密码与确认密码不一致";
                }
                else {
                    pwcf_alert.innerHTML = "";
                }
            });
        });

    </script>
{%/block%}

{%block name="body"%}
<body>
        <div class="mid-class">
           <div class="art-right-w3ls">
              <h2 style="color: rgba(31, 155, 212, 0.911)">用户注册</h2>
              <form action="php/users/registerAuth.php" method="post" name="registerForm">
                 <div class="main">
                    <div class="form-left-to-w3l">
                        <div style="color: red; font-size: 3mm" id="username_alert"></div>
                       <input type="text" id="userid" name="username" placeholder="用户名" required="">
                       </div>
                    <div class="form-left-to-w3l ">
                        <div style="color: red; font-size: 3mm" id="password_alert"></div>
                        <input type="password" id="password" name="password" placeholder="密码" required="">
                       <div class="clear"></div>
                    </div>
                    <div class="form-left-to-w3l ">
                            <div style="color: red; font-size: 3mm" id="passwordcf_alert"></div>
                            <input type="password" id="passwordcf" name="passwordcf" placeholder="确认密码" required="">
                            <div class="clear"></div>
                         </div>
                 </div>
                 <div class="clear"></div>
                 <div class="btnn">
                    <button type="submit" onclick="return checkRegister();">注册</button>
                 </div>
              </form>
              <div class="w3layouts_more-buttn">
                 <h3>已有账号？
                    <a  class="login" href="/login.php">登录
                    </a>
                 </h3>
              </div>
           </div>
           <div class="art-left-w3ls">
              <h1 class="header-w3ls">
                Scientific conferences & activities
              </h1>
           </div>
        </div>
        <footer class="bottem-wthree-footer">
           <p>Copyright © 2019. Chilly & Tian & Fiona. All rights reserved.</p>
        </footer>
      </body>
{%/block%}
