{%extends file="./tpl/layout.html"%} 
{%block name="css"%}
	<link href="/css/login.css" rel="stylesheet" type="text/css" media="all">
	<link href="/css/link.css" rel="stylesheet" type="text/css" media="all">
{%/block%}

{%block name="title"%}<title>活动信息</title>{%/block%}

{%block name="body"%}
<body>
				<div class="mid-class">
					 <div class="art-right-w3ls">
                        <div id="" style="background-color:rgba(100,149,237,0.6);font-size:25px;position: absolute;color:rgba(255,255,255,1);padding:40px 50px 50px 50px;width:1000px">
							<h3 style="margin:10px;">{%$msg%}</h3>
                            <p style=" text-align:right;font-size:15px;"><a href="/manageActivity.php">返回信息管理界面</a></p>
					    </div>
                     </div>
				</div>
</body>
{%/block%}

{%block name="javascript"%}
{%/block%}